<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Cucumber Test Suite" parallel="methods" thread-count="3">
    <test name="Cucumber Tests">
        <groups>
            <run>
                <include name="smoke" />
                <exclude name="regression" />
            </run>
        </groups>
        <classes>
            <class name="runner.RunCucumberTest">
                <methods>
                    <include name="testValidLogin" />
                    <exclude name="testInvalidLogin" />
                </methods>
            </class>
        </classes>
    </test>
</suite> -->


<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" parallel="none" thread-count="1">
    <!-- <listeners>
        <listener class-name="com.listeners.CustomListener"/>
    </listeners> -->
    <!-- <parameter name="username" value="admin123"/>
    <parameter name="password" value="secret"/> -->
    <!-- <test name="SmokeTests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.LoginTests">
                <methods>
                    <include name="loginWithValidCredentials" />
                    <exclude name="logoutTest" />
                </methods>
            </class>
        </classes>
    </test> -->

    <test name="RegressionTests">
        <!-- <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups> -->
        <classes>
            <class name="com.LoginTests"/>
        </classes>
    </test>
</suite>
